<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/header.ejs') -%>
        <!-- <link rel="stylesheet" href="/css/bootstrap.min.css"> -->
        <title>homepage</title>
</head>

<body>
    <%- include('./partials/navbar.ejs') -%>
        <button onclick="getlocation()">get location</button>

        <%- include('./partials/script.ejs') -%>
</body>

</html>